.budget-adder-container {
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.603);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: .1rem 1.5rem;
    box-shadow: 0 0 4px -2px black;
    min-width: 24rem;
    max-width: 100%;
}

.budget-adder-header{
    display: inline-block;
}

.budget-adder-title{
    margin-bottom: 1.5rem;
    color: black;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    border-bottom: 1px solid black;
}

.budget-adder-form {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.budget-adder-input-title{
    margin: 0;
    color: #333;
    font-family: "poppins";
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    margin-right: 1rem;
}

.budget-adder-input-box {
    background-color: white;
    padding: 0.4rem;
    font-family: "poppins";
    font-size: 1rem;
    font-weight: 500;
    color: black;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}

.budget-adder-input-container {
    margin-bottom: 1rem;

}

.budget-adder-form-button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #423e3e, #201e1e);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: "Poppins";
    padding: 0.6em 0.5em;
    box-shadow: 0px 0px 6px -2px black;
    margin-bottom: 1.5rem;
    width: 50%
}

