.category-item-container {
    box-sizing: border-box;
    border-bottom: 2px solid #f1f5f9;
}

.category-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}

.category-item-title {
    font-family: "poppins";
    margin: 0;
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.category-item-percent {
    font-family: "poppins";
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
    color: #64748b;
}

