.percent-per-container {
    /* background-color: red; */
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    width:22.8rem;
    min-height: 20.6rem;
    box-shadow: 0 0 4px -2px black;
    border-radius: 10%;
}

.percent-per-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.percent-per-title {
    margin: 0;
    display: inline-block;
    color: black;
}

